{% extends 'order/base.html' %}
{% block title %}patient{% endblock %}
{% block contents %}
{% load static%}
{% if user.is_authenticated %}
    <div class="ic-text">ICカード説明文</div>
    <div class="ic-image"><img src="" alt="">ICカード説明画像</div>
    <button type="button" onclick="location.href='/returnpt'" class="gobackone" style="width: 200px; margin-top: 78px; margin-left: 70px;"><h1>戻る</h1></button>
{% else %}
    <div><h1 style="text-align: center; margin-top: 300px;">ログインしてください</h1></div>
{% endif %}
{% endblock %}