{% extends 'order/base.html' %}
{% block title %}patient{% endblock %}
{% block contents %}
{% load static%}
{% if user.is_authenticated %}
<div class="first-or-return-flex-box">
    {% if user.username == "admin" or user.username == "marucounter" %}
    <button type=“button” onclick="location.href='newinput/'" class="first-or-return-flex" id="first"><h1>初診</h1></button>
    {% else %}
    <button type=“button” onclick="location.href='newpt/'" class="first-or-return-flex" id="first"><h1>初診</h1></button>
    {% endif %}
    <button type=“button” onclick="location.href='returnpt/'" class="first-or-return-flex" id="return"><h1>再診</h1></button>
</div>
{% else %}
{% endif %}


{% endblock %}