{% extends 'order/base.html' %}
{% block title %}input{% endblock %}
{% block contents %}
{% load static%}
{% if user.is_authenticated %}
<div class="return-patient-input">
    <form action="{% url 'order:newinput' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="forr" value="初診">
        <div class="r-input-flex-box">
            <div class="r-i-flex"><label for="fullname">漢字氏名：<input type="text" name="fullname" id="fullname" size="35"></label></div>
            <div class="r-i-flex"><label for="tel">電話番号：<input type="number" name="tel" id="tel"></label></div>         
            <div class="r-i-flex"><label for="kana">フリガナ：<input type="text" name="kana" id="kana" size="35"></label></div>
            <div class="r-i-flex"><label for="address">住所（任意）：<input type="text" name="address" id="address" size="50"></label></div> 
            <div class="r-i-flex"><label for="birthday">生年月日：<input type="date" name="birthday" id="birthday"></label></div>
            <div class="r-i-flex"><label for="patientid">患者ID（任意）：<input type="text" name="patientid" id="patientid"></label></div>
        </div>
        <div class="s-or-b-flex">
            <button type="button" onclick="location.href='/returnpt'" class="gobackone" ><h1>戻る</h1></button>
            <input type="submit" value="注文へ進む">
        </div>
    </form>
</div>
{% else %}
    <div><h1 style="text-align: center; margin-top: 300px;">ログインしてください</h1></div>
{% endif %}
{% endblock %}