{% extends 'order/base.html' %}
{% block title %}patient{% endblock %}
{% block contents %}
{% load static%}
{% if user.is_authenticated %}
<div class="ic-or-noneic-flex-box">
    <button type=“button” onclick="location.href='/ic'" class="ic-or-noneic-flex" id="iccard"><h1 style="font-size: 40px;">IC登録済の方</h1></button>
    <button type=“button” onclick="location.href='/input'" class="ic-or-noneic-flex" id="icnone"><h1 style="font-size: 40px;">IC未登録orお忘れの方</h1></button>
</div>
<button type="button" onclick="location.href='/'" class="gobackone" style="width: 200px; margin-top: 78px; margin-left: 70px;"><h1>戻る</h1></button>
{% else %}
    <div><h1 style="text-align: center; margin-top: 300px;">ログインしてください</h1></div>
{% endif %}
{% endblock %}